<!DOCTYPE html>
<html>
    <head>
        <style>
            *{
                text-align: center;
            }
        </style>
        <script>
            
        </script>
    </head>
    <body>
        <form action="/edit/edit_or_delete" method="post">
            <table>
                <tr>
                    <td><label for="photo1">photo1: </label></td>
                    <td><input name="photo1" id="photo1" name="photo1" type="file" accept="image/*"></td>
                </tr>
                <tr>
                    <td><label for="photo2">photo2: </label></td>
                    <td><input name="photo2" id="photo2" name="photo2" type="file" accept="image/*"></td>
                </tr>
                <tr>
                    <td><label for="photo3">photo3: </label></td>
                    <td><input name="photo3" id="photo3" name="photo3" type="file" accept="image/*"></td>
                </tr>
                <tr>
                    <td><label for="photo4">photo4: </label></td>
                    <td><input name="photo4" id="photo4" name="photo4" type="file" accept="image/*"></td>
                </tr>
                <tr>
                    <td><label for="photo5">photo5: </label></td>
                    <td><input name="photo5" id="photo5" name="photo5" type="file" accept="image/*"></td>
                </tr>
                <tr>
                    <td><label for="content">게시물 내용 : </label></td>
                    <td><input name="content" id="content" name="content" type="text"></td>
                </tr>
            </table>
            <input type="submit" value="게시" name="edit_or_delete" id="edit">
            <input type="submit" value="삭제" name="edit_or_delete" id="delete">
        </form>
        <a href="home">홈</a>
    </body>
</html>