<!DOCTYPE html>
<html>
    <head>
        <style>
            #image{
                width: 450px;
                height: 450px;
                margin: 0 auto;
            }
            *{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>슈스타그램</h1>
        <img src="ssu_stagram.jpg" id="image">
        <form action="/" method="post">
            <td><label for="id">id: </label></td>
            <input type="id" name="id" id="id">
            <br>
            <td><label for="password">password: </label></td>
            <input type="password" name="password" id="password">
            <br>
                <br>
            <input type="submit" value="로그인">
        </form>
        <br>
        <a href="account">회원가입</a>
    </body>
</html>