<!DOCTYPE html>
<html>
    <head>
        <style>
            .sender{
                text-align: left;
            }
            .receiver{
                text-align: right;
            }
        </style>
    </head>
    <body>
        <h1 style="text-align: center;">DM</h1>
        <div style="text-align: center;">
            <a href="home">홈</a>
        </div>
        {% if flag %}
        {% for i in log %}
        {% if id==i.sender_id %}
        <div class="receiver">
            <p>
                {{i.dm_content}}
            </p>
        </div>
        {% else %}
        <div class="sender">
            <p>
                {{i.dm_content}}
            </p>
        </div>
        {% endif %}
        <br>
        {% endfor %}
        <form action="/msg/store" method="post">
            <input type="text" name="message">
            <input type="submit" value="보내기" name="send_button">
        </form>

        {% else %}
        <h2>
            맞팔로우 리스트
        </h2>
        <form action="/msg" method="post">
            {% for i in dm_list %}
            <input type="submit" value="{{i.following}}" name="F4F">
            {% endfor %}
            <br><br>
        </form>
        
        {% endif %}
    </body>
</html>